.main-icons {
  margin: 3%;
  border: solid 2px black;
  border-radius: 5px;
  padding: 5px;
}
.main-icons * {
  text-align: center;
}
.main-icons:hover {
  border: solid 2px grey;
  color: grey;
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.dividerContent {
  margin: 10px;
}

.halfDivider {

    border:         none;
    border-left:    1px solid hsla(200, 10%, 50%,100);
    height:         450px;
    width:          1px;
}

.inputOkay {
  border-left: 5px solid chartreuse;
}

.btn-light {
  background-color: #ffffff;
}

.form-jumb-container {
  padding: 10px;
}
