<hr style="background-color: white;">

<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link btn btn-outline-light" style="cursor: pointer;" (click)="signOut()">Sair! </a>
  </li>
</ul>
<img src="../../../assets/LOGO_PRIMUM_WHITE.png" alt="Logo Primum" width="250" height="250">

<br>

<h2>
  Me parece que você já tem uma conta registrada!
</h2>
<br>
<h4>
  Falta apenas nossos atendentes entrar em contato para finalizar o atendimento! Espere um pouco que já já entraremos em
  contato!
</h4>

<hr style="background-color: white;">
