<div id="body">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead">
      <div class="inner">
        <h3 class="masthead-brand" style="color: white;">Primum_Tecnology</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link" routerLink="">Home</a>
          <a class="nav-link active" routerLink="/portal/products">Produtos!</a>
          <a class="nav-link" routerLink="/portal/signup">Contato!</a>
          <a class="nav-link" routerLink="/portal/signin">Login!</a>
        </nav>
      </div>
    </header>

    <div class="mb-5">
      <h1 class="cover-heading">O que de melhor temos para te oferecer? <b style="color: red;">Veja abaixo!</b>.</h1>
      <p class="lead">
        Como a Primum quer ter sempre um pacote que se ajuste com o que você deseja,
        veja abaixo nossa lista de pacotes e veja qual se encaixa mais com você! Caso esteja indeciso, antes de você
        pagar por qualquer coisa
        a gente te ajuda a decidir ;)
      </p>
    </div>

    <div class="inner cover" style="">
      <h3> Principais produtos: </h3>

      <div class="list-group">
        <a style="color: black;" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Rhodonite</h5>
            <small>Disponível!</small>
          </div>
          <p class="mb-1">O pacote <b>Rhodonite</b> te da direito ao sistema inicial da Primum, nele é possivel
            cadastrar clientes, ordens de serviço e tudo isso com a cara da sua loja, com sua logo e informações! Venha
            conhecer!
          </p>
          <small>Valor R$ 35,00</small>
        </a>
        <a class="list-group-item list-group-item-action flex-column align-items-start disabled">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Rhodonite_Mobile</h5>
            <small style="color: black;">Em breve!</small>
          </div>
          <p class="mb-1">O pacote <b>Rhodonite Mobile</b> te da direito ao sistema inicial da Primum e acesso Mobile,
            podendo
            cadastrar clientes e ordens de serviço pelo celular!
          </p>
          <small>Valor indisponível :(</small>
        </a>
        <a class="list-group-item list-group-item-action flex-column align-items-start disabled">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Amethist</h5>
            <small style="color: black;">Em breve!</small>
          </div>
          <p class="mb-1">O pacote <b>Amethist</b> te da direito ao sistema inicial de conectividade com o cliente, nele
            o cliente pode
            aconpanhar o status da ordem de serviço pelo APP da Primum ou pelo site. Mais informações em breve!
          </p>
          <small>Valor indisponível :(</small>
        </a>
      </div>
    </div>

    <footer class="mt-3">
      <div class="inner">
        <p>Direitos da <b>Primum Tecnology Brasil</b>, site inspirado na criação de <a
          href="https://twitter.com/mdo">@mdo</a>.</p>
      </div>
    </footer>
  </div>
</div>
