.header-btn {
  margin-top: 12px;
}
.header-btn > button {
  margin-right: 5px;
}


.delete-btn:hover {
  background-color: red;
  border-color: red;
}

.hasError {
  border-left: solid 5px red;
}

.hasSuccess {
  border-left: solid 5px lightgreen;
}

