<div class="row">
  <h1 align="center" class="col-md-8"> Ordens de Serviço! </h1>
  <div class="header-btn col-4">
    <button class="btn btn-default btn-dark" (click)="openModal(osContent, 'lg')">Criar Ordem de Serviço!</button>
  </div>
  <hr class="col-sm-10">
  <div class="col-md-12 container">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>
          Nome
        </th>
        <th>
          CPF
        </th>
        <th>
          Data de Nascimento
        </th>
        <th>
          N° Celular
        </th>
        <th>
          Telefone fixo
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let so of serviceorders">
        <td>
          {{so}}
        </td>
        <td>
          <button class="btn btn-dark" (click)="getSObyId(so.id,detailsModal, true);"> Detalhes!</button>
        </td>
        <td>
          <button class="btn btn-dark" (click)="getSObyId(so.id,deleteModal, false)"> Deletar cliente!</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #deleteModal let-modal>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <h4 style="display: inline;"> Tem certeza que deseja deletar a Ordem de Serviço? #{{ service_order.id }}</h4>
      <hr>
      <div>
        <form>
          <div class="form-group col-md-6">
            <label> Nome: </label>
            <input class="form-control col-md-12" type="text" value="{{customer.name }} {{customer.lastname}}" readonly>
          </div>
          <div class="form-group col-md-6">
            <label> CPF: </label>
            <input class="form-control col-md-12" type="text" value="{{customer.cpf | mask:'000.000.000-00'}}" readonly>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default btn-dark col-9 delete-btn" (click)="deleteServiceOrder(service_order.id); this.modal.close()">
      Tenho certeza!
    </button>
    <button type="button" class="btn btn-outline-dark col-3" (click)="this.modal.close()">Fechar</button>
  </div>
</ng-template>

<ng-template #clientContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Novo cliente</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <form [formGroup]="soForm">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label> Nome: </label>
            <input
              [class.hasError]="soForm.get('brand').invalid && soForm.get('brand').touched"
              [class.hasSuccess]="soForm.get('brand').valid"
              class="form-control col-md-12" type="text" formControlName="brand">
            <div *ngIf="" class="text-danger">O nome é obrigatorio!</div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" [disabled]="soForm.invalid"
                  (click)="addNew(); this.modal.close();">Criar cliente!
          </button>
          <button type="reset" class="btn btn-dark">Limpar!</button>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #osContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-os-title" align="center">Nova ordem de serviço</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <form>
        <fieldset class="form-jumb-container" disabled>
          <h1 align="center"> Informações do Cliente </h1>
          <hr>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label> Nome completo: </label>
              <input class="form-control col-md-12" placeholder="Patrik Fernando Reisner" type="text" required>
            </div>

            <div class="form-group col-md-6">
              <label> CPF: </label>
              <input class="form-control col-md-12" mask="000.000.000-00" placeholder="000.000.000-00" type="text">
            </div>

            <div class="form-group col-md-6">
              <label> Celular: </label>
              <input class="form-control col-md-12" mask="(00) 00000-0000" placeholder="(00) 00000-0000" type="text">
            </div>

            <div class="form-group col-md-7">
              <label> Endereco completo + N° Casa: </label>
              <input class="form-control col-md-12" placeholder="Rua: Maria Madalena Lopes Santana, Nº XXXX"
                     type="text">
            </div>

            <div class="form-group col-md-5">
              <label> Bairro: </label>
              <input class="form-control col-md-12" placeholder="Nereu Ramos, Jaragua do Sul - SC" type="text">
            </div>

          </div>
        </fieldset>
        <h1 align="center"> Informações do Dispositivo </h1>
        <hr>
        <div class="form-row">

          <div class="form-group col-md-6">
            <label> Tipo do aparelho: </label>
            <input class="form-control col-md-12" type="text" required>
          </div>

          <div class="form-group col-md-6">
            <label> Marca: </label>
            <input class="form-control col-md-12" type="text">
          </div>

          <div class="form-group col-md-6">
            <label> Modelo: </label>
            <input class="form-control col-md-12" type="text">
          </div>

          <div class="form-group col-md-6">
            <label> Acessórios: </label>
            <input class="form-control col-md-12" type="text">
          </div>

          <div class="form-group col-md-12">
            <label> Detalhes: </label>
            <textarea class="form-control col-md-12" type="text"></textarea>
          </div>

        </div>

        <h1 align="center"> Informações do Serviço </h1>
        <hr>
        <div class="form-row">

          <div class="form-group col-md-12">
            <label> Problema relatado: </label>
            <input class="form-control col-md-12" type="text" required>
          </div>

          <div class="form-group col-md-12">
            <label> Informações adicionais ao problema: </label>
            <textarea class="form-control col-md-12" type="text"></textarea>
          </div>

          <div class="form-group col-md-10">
            <label> Motivo da cobrança antecipada: </label>
            <input class="form-control col-md-12" placeholder="Ex.: Taxa minima, valor minimo de peça tal..." type="text">
          </div>

          <div class="form-group col-md-2">
            <label> Valor minimo: </label>
            <input class="form-control col-md-12" type="text">
          </div>

        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="save()">Save</button>
  </div>
</ng-template>

<ng-template #chooseCustomer let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-details-choosec">Escolha o cliente!</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">

    </div>
  </div>
</ng-template>

<ng-template #detailsModal let-modal>
  <div class="modal-header">
    <h4 *ngIf="!IsEditable" class="modal-title" id="modal-details-modalDtl">Detalhes</h4>
    <h4 *ngIf="IsEditable" class="modal-title" id="modal-details-modalUpd">Atualizar</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <form [formGroup]="soForm">
        <div class="form-row">

          <div class="form-group col-md-6">
            <label> Nome: </label>
            <input class="form-control col-md-12" type="text" name="name" formControlName="name"
                   [readonly]="!IsEditable">
          </div>

          <div class="form-group col-md-6">
            <label> Sobrenome: </label>
            <input class="form-control col-md-12" type="text" formControlName="lastname" [readonly]="!IsEditable">
          </div>

          <div class="form-group col-md-4">
            <label> Nascimento: </label>
            <input class="form-control col-md-12" mask="00/00/0000" placeholder="DD/MM/AAAA" type="text"
                   formControlName="birthdate" [readonly]="!IsEditable">
          </div>

          <div class="form-group col-md-4">
            <label> CPF: </label>
            <input class="form-control col-md-12" mask="000.000.000-00" placeholder="000.000.000-00" type="text"
                   formControlName="cpf" [readonly]="!IsEditable">
          </div>

          <div class="form-group col-md-4">
            <label> RG: </label>
            <input class="form-control col-md-12" type="text" formControlName="rg" [readonly]="!IsEditable">
          </div>

          <div class="form-row col-md-12 jumbotron-fluid">
            <hr>
            <div class="form-group col-md-6">
              <label> Celular: </label>
              <input class="form-control col-md-12" mask="(00) 00000-0000" placeholder="(00) 00000-0000" type="text"
                     formControlName="phone" [readonly]="!IsEditable">
            </div>
            <div class="form-group col-md-6">
              <label> Telefone fixo: </label>
              <input class="form-control col-md-12" mask="(00) 00000-0000" placeholder="(00) 00000-0000" type="text"
                     formControlName="landline" [readonly]="!IsEditable">
            </div>
          </div>

          <div class="form-row col-md-12 jumbotron-fluid">
            <div class="form-group col-md-8">
              <label> Endereco: </label>
              <input class="form-control col-md-12" placeholder="Rua: ..." type="text" formControlName="address"
                     [readonly]="!IsEditable">
            </div>

            <div class="form-group col-md-4">
              <label> Numero da Casa: </label>
              <input class="form-control col-md-12" placeholder="Numero: ..." mask="00000" type="text"
                     formControlName="house_number" [readonly]="!IsEditable">
            </div>

            <div class="form-group col-md-5">
              <label> Bairro: </label>
              <input class="form-control col-md-12" placeholder="Bairro: ..." type="text" formControlName="district"
                     [readonly]="!IsEditable">
            </div>

            <div class="form-group col-md-5">
              <label> Cidade: </label>
              <input class="form-control col-md-12" placeholder="Cidade: ..." type="text" formControlName="city"
                     [readonly]="!IsEditable">
            </div>

            <div class="form-group col-md-2">
              <label> UF: </label>
              <input class="form-control col-md-12" mask="AA" placeholder="SC" type="text" formControlName="state"
                     [readonly]="!IsEditable">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button *ngIf="IsEditable === false" type="button" class="btn btn-outline-dark"
                  (click)="this.IsEditable = true;">Editar cliente?
          </button>
          <button *ngIf="IsEditable === true" [disabled]="soForm.untouched" type="button"
                  class="btn btn-outline-dark" (click)="updateServiceOrder(); this.modal.close();">
            Atualizar cliente!
          </button>
          <button *ngIf="IsEditable === true" type="reset" class="btn btn-outline-dark">Limpar!</button>
        </div>
      </form>
    </div>
  </div>
</ng-template>
