.btnPesquisar, .btnMaisBotoes{
	position: fixed;
	float: bottom;
	bottom: 15px;
	right: 15px;
	z-index: 100;
}

.jumbotron-fluid {
  background: grey;
}

.hasError {
  border-left: solid 5px red;
}

.hasSuccess {
  border-left: solid 5px lightgreen;
}
