<div class="container row">
        <table class="col-12" style="
    text-align: center;
    background: #eee;">
            <tbody>
                <tr>
                    <td>
                        <table class="col-12">
                            <tbody>
                                <tr>
                                    <td style="border: 1px solid;padding: 1px 5px;">
                                        <img class="top-logo" src="https://www.onlineos.com.br/logo_onlineos_dark.png">
                                    </td>
                                    <td style="border: 1px solid;padding: 1px 5px;">
                                        <p style="text-transform: uppercase;">LembraAqui (OnlineOS Gratuíto) </p>
                                        <p style="text-align: center;">
                                            &nbsp;|&nbsp;patrikfr.nx@gmail.com
                                        </p>
                                        <p style="text-transform: uppercase;">
                                            <strong>
                                                ORDEM DE SERVIÇOS
                                                <br>
                                                <small style="text-transform: uppercase;font-size: 9px;">PENDENTE</small>
                                            </strong>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td height="10"></td>
                </tr>
                <tr>
                    <td>
                        <table class="col-12">
                            <tbody>
                                <tr>
                                    <td style="border: 1px solid;padding: 1px 5px;">
                                        <strong>Atendimento:</strong>
                                    </td>
                                    <td style="border: 1px solid;padding: 1px 5px; text-align: left;">
                                        <small class="hidden-print">Utilizar os campos Inicio do Tratamento e Témino</small>
                                        03/11/2018 19:40:53
                                    </td>
                                    <td style="border: 1px solid;padding: 1px 5px;  text-align: right;">
                                        <strong>Identificador:</strong>
                                    </td>
                                    <td style="border: 1px solid;padding: 1px 5px;text-align:left;"> #OS[ID]</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td height="10"></td>
                </tr>
                <tr>
                    <td>
                        <table class="col-12">
                            <tbody width="1000">
                                <tr>
                                    <td style="border: 1px solid;padding: 1px 5px;">
                                        <strong>Cliente:</strong>
                                    </td>
                                    <td style="border: 1px solid;padding: 1px 5px;text-align:left;">
                                        [[NOME DO CLIENTE]]
                                    </td>
                                    <td style="border: 1px solid;padding: 1px 5px;text-align:right;">
                                        <strong>RG/CPF/CNPJ:</strong>
                                    </td>
                                    <td style="border: 1px solid;padding: 1px 5px;text-align:left;">
                                        [[CPF OU RG]]
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid;padding: 1px 5px;">
                                        <strong>Endereço:</strong>
                                    </td>
                                    <td colspan="3" style="border: 1px solid;padding: 1px 5px;text-align:left;">
                                        [[ENDEREÇO]]
                                    </td>
                                </tr>
                                <tr>
                                    <td width="10%" width="150" style="border: 1px solid;padding: 1px 5px;">
                                        <strong>Telefone/Contato:</strong>
                                    </td>
                                    <td width="50%" style="border: 1px solid;padding: 1px 5px;text-align:left;">
                                        [[TELEFONE]]
                                    </td>
                                    <td width="10%" style="border: 1px solid;padding: 1px 5px;text-align:right;">
                                        <strong>E-mail:</strong>
                                    </td>
                                    <td width="40%" width="100" style="border: 1px solid;padding: 1px 5px;text-align:left;">
                                        [[EMAILCONF@EMAIL.COM]]
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td height="10"></td>
                </tr>
                <tr>
                    <td>
                        <table class="col-12">
                            <tbody>
                                <tr>
                                    <td width="70%" colspan="3" style="padding: 1px 5px;text-align: left;text-transform: uppercase;">
                                        <strong>Serviços</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="55%" style="padding: 1px 5px;text-align: center;">
                                    </td>
                                    <td width="15%" style="font-weight:bold;padding: 1px 5px;text-align: center;">
                                        Qtd
                                    </td>
                                    <td width="15%" style="font-weight:bold;padding: 1px 5px;text-align: right;">
                                        V.Unitário
                                    </td>
                                    <td width="15%" style="font-weight:bold;padding: 1px 5px;text-align: right;">
                                        Sub Total
                                    </td>
                                </tr>
                                <tr>
                                    <td width="55%" style="border-bottom: 1px solid;padding: 1px 5px;text-align: left;">Cadas</td>
                                    <td width="15%" style="border-bottom: 1px solid;padding: 1px 5px;text-align: center;">
                                        1.00 Hora(s)
                                    </td>
                                    <td width="15%" style="border-bottom: 1px solid;padding: 1px 5px;text-align: right;">
                                        R$ 180,00
                                    </td>
                                    <td width="15%" style="border-bottom: 1px solid;padding: 1px 5px;text-align: right;">
                                        R$ 180,00
                                    </td>
                                </tr>
                                <tr>
                                    <td width="55%" style="border-bottom: 1px solid;padding: 1px 5px;text-align: left;">Taxa de serviço de urgência
                                    </td>
                                    <td width="15%" style="border-bottom: 1px solid;padding: 1px 5px;text-align: center;">
                                        1.00 Unidade(s)
                                    </td>
                                    <td width="15%" style="border-bottom: 1px solid;padding: 1px 5px;text-align: right;">
                                        R$ 8,00
                                    </td>
                                    <td width="15%" style="border-bottom: 1px solid;padding: 1px 5px;text-align: right;">
                                        R$ 8,00
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4" style="padding: 1px 5px;text-align: right;text-transform: uppercase;">
                                        <strong>Total:&nbsp;&nbsp;&nbsp;R$ 188,00</strong>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td height="10"></td>
                </tr>
                <tr>
                    <td style="text-align: right;">
                        <strong>Total a pagar:</strong>&nbsp;R$ 188,00
                        <br>
                    </td>
                </tr>
                <tr>
                    <td height="20"></td>
                </tr>
                <tr>
                    <td>
                        <p id="os-additional-print" style="font-size: 10px">* Autorizo a execução dos serviços acima discriminados e assumo a responsabilidade pelos dados fornecidos,
                            bem como a responsabilidade da cobrança e/ou pagamento em caso de inadimplência por parte do
                            referido cliente.</p>
                    </td>
                </tr>
                <tr>
                    <td height="5"></td>
                </tr>
                <tr>
                    <td>
                        <table class="col-12">
                            <tbody>
                                <tr>
                                    <td style="padding: 1px 5px; text-align: center;">
                                        [[CITYNAME]], [[DAY]] de [[MONTH]] de [[YEAR]].
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td height="60"></td>
                </tr>
                <tr>
                    <td>
                        <table class="col-12">
                            <tbody>
                                <tr height="150" class="hidden-print">
                                    <td colspan="5">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="text-alert">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="hidden-print">
                                    <td colspan="5">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="text-alert">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="20"></td>
                                    <td width="200" style="border-top: 1px solid; padding: 1px 5px;text-align: center;text-transform: capitalize;">
                                        [[NOME DO ATENDENTE]]
                                        <br>
                                        <span style="font-size: 11px;text-transform: uppercase;">[[EMPRESA]]</span>
                                    </td>
                                    <td width="10"></td>
                                    <td width="200" style="border-top: 1px solid; padding: 1px 5px;text-align: center;
              text-transform: capitalize;">
                                        [[NOME DO CLIENTE]]
                                        <br>
                                        <span style="font-size: 11px;text-transform: uppercase;">[[000.000.000-00]]</span>
                                    </td>
                                    <td width="20"></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td height="60"></td>
                </tr>
                <tr>
                    <td>
                        <hr style="border-top: 1px dashed #000;
      color: #fff;
      background-color: #fff;
      height: 1px;">
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="col-12">
                            <tbody>
                                <tr>
                                    <td width="15%" style="border: 1px solid;padding: 5px;">
                                        <strong>Cliente:</strong>
                                    </td>
                                    <td style="border: 1px solid;padding: 5px;text-align:left;"> LembraAqui (OnlineOS Gratuíto)</td>
                                    <td style="border: 1px solid;padding: 5px;">
                                        <strong>Data do Atendimento:</strong>
                                    </td>
                                    <td style="border: 1px solid;padding: 5px;text-align:left;">
                                        <small class="hidden-print">Utilizar os campos Inicio do Tratamento e Témino</small>
                                        03/11/2018 19:40:53
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid;padding: 5px;">
                                        <strong>RG/CNPJ:</strong>
                                    </td>
                                    <td width="40%" style="border: 1px solid;padding: 5px;text-align:left;">
                                        [[000.000.000-00]]
                                    </td>
                                    <td style="border: 1px solid;padding: 5px;">
                                        <strong>Número da OS:</strong>
                                    </td>
                                    <td style="border: 1px solid;padding: 5px;text-align:left;"> 0001</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
