<table class="table-print2" style="
    text-align: center;
    background: #FFF;">
  <tbody>
  <tr>
    <td>
      <table>
        <tbody>
        <tr>
          <td width="200" class="" style="border: 1px solid;padding: 1px 5px;">
            <img class="top-logo" src="../../assets/LOGO_PRIMUM_BLACK.png" width="100" height="100">
          </td>
          <td style="border: 1px solid;padding: 1px 5px; width: 100%">
            <p style="text-transform: uppercase;">LembraAqui (OnlineOS Gratuíto) </p>
            <p style="text-align: center;">
              &nbsp;|&nbsp;patrikfr.nx@gmail.com
            </p>
            <p style="text-transform: uppercase;"><strong>
              ORDEM DE SERVIÇOS<br>
              <small style="text-transform: uppercase;font-size: 9px;">PENDENTE</small>
            </strong></p>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td height="10"></td>
  </tr>
  <tr>
    <td>
      <table>
        <tbody>
        <tr>
          <td style="border: 1px solid;padding: 1px 5px;">
            <strong>Atendimento:</strong></td>
          <td style="border: 1px solid;padding: 1px 5px;text-align:left;">
            <small class="hidden-print">Utilizar os campos Inicio do Tratamento e Témino</small>
            03/11/2018 19:40:53
          </td>
          <td style="border: 1px solid;padding: 1px 5px;"><strong>Número:</strong></td>
          <td style="border: 1px solid;padding: 1px 5px;text-align:left;"> 0001</td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td height="10"></td>
  </tr>
  <tr>
    <td>
      <table>
        <tbody>
        <tr>
          <td style="border: 1px solid;padding: 1px 5px;">
            <strong>Cliente:</strong></td>
          <td style="border: 1px solid;padding: 1px 5px;text-align:left;"> LembraAqui (OnlineOS Gratuíto)</td>
          <td style="border: 1px solid;padding: 1px 5px;"><strong>RG/CPF/CNPJ:</strong></td>
          <td style="border: 1px solid;padding: 1px 5px;text-align:left;">
          </td>
        </tr>
        <tr>
          <td style="border: 1px solid;padding: 1px 5px;">
            <strong>Endereço:</strong></td>
          <td colspan="3" style="border: 1px solid;padding: 1px 5px;text-align:left;">
          </td>
        </tr>
        <tr>
          <td style="border: 1px solid;padding: 1px 5px;">
            <strong>Telefone/Contato:</strong></td>
          <td style="border: 1px solid;padding: 1px 5px;text-align:left;"></td>
          <td style="border: 1px solid;padding: 1px 5px;"><strong>E-mail:</strong></td>
          <td style="border: 1px solid;padding: 1px 5px;text-align:left;"> patrikfr.nx@gmail.com</td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td height="10"></td>
  </tr>
  <tr>
    <td>
      <table>
        <tbody>
        <tr>
          <td width="70%" colspan="3" style="padding: 1px 5px;text-align: left;text-transform: uppercase;">
            <strong>Serviços</strong>
          </td>
        </tr>
        <tr>
          <td width="55%" style="padding: 1px 5px;text-align: center;">
          </td>
          <td width="15%" style="font-weight:bold;padding: 1px 5px;text-align: center;">
            Qtd
          </td>
          <td width="15%" style="font-weight:bold;padding: 1px 5px;text-align: right;">
            V.Unitário
          </td>
          <td width="15%" style="font-weight:bold;padding: 1px 5px;text-align: right;">
            Sub Total
          </td>
        </tr>
        <tr>
          <td width="55%" style="border-bottom: 1px solid;padding: 1px 5px;text-align: left;">Cadas</td>
          <td width="15%" style="border-bottom: 1px solid;padding: 1px 5px;text-align: center;">
            1.00 Hora(s)
          </td>
          <td width="15%" style="border-bottom: 1px solid;padding: 1px 5px;text-align: right;">
            R$ 180,00
          </td>
          <td width="15%" style="border-bottom: 1px solid;padding: 1px 5px;text-align: right;">
            R$ 180,00
          </td>
        </tr>
        <tr>
          <td width="55%" style="border-bottom: 1px solid;padding: 1px 5px;text-align: left;">Taxa de serviço de
            urgência
          </td>
          <td width="15%" style="border-bottom: 1px solid;padding: 1px 5px;text-align: center;">
            1.00 Unidade(s)
          </td>
          <td width="15%" style="border-bottom: 1px solid;padding: 1px 5px;text-align: right;">
            R$ 8,00
          </td>
          <td width="15%" style="border-bottom: 1px solid;padding: 1px 5px;text-align: right;">
            R$ 8,00
          </td>
        </tr>
        <tr>
          <td colspan="4" style="padding: 1px 5px;text-align: right;text-transform: uppercase;">
            <strong>Total:&nbsp;&nbsp;&nbsp;R$ 188,00</strong>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td height="10"></td>
  </tr>
  <tr>
    <td style="text-align: right;">
      <strong>Total a pagar:</strong>&nbsp;R$ 188,00<br>
    </td>
  </tr>
  <tr>
    <td height="20"></td>
  </tr>
  <tr>
    <td>
      <p id="os-additional-print" style="font-size: 10px">* Autorizo a execução dos serviços acima discriminados e
        assumo a responsabilidade pelos dados fornecidos, bem como a responsabilidade da cobrança e/ou pagamento em caso
        de inadimplência por parte do referido cliente.</p>
    </td>
  </tr>
  <tr>
    <td height="5"></td>
  </tr>
  <tr>
    <td>
      <table>
        <tbody>
        <tr>
          <td style="padding: 1px 5px;">
            , 03 de novembro de 2018.
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td height="60"></td>
  </tr>
  <tr>
    <td>
      <table>
        <tbody>
        <tr class="hidden-print">
          <td colspan="5">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="text-alert">
                Que tal ter uma assinatura digital para todas as OSs? <a
                href="https://www.onlineos.com.br/sistema/perfil=g6GXa6Y=" style="text-decoration: underline;">Clique
                aqui</a> para incluir agora.
              </div>
            </div>
          </td>
        </tr>
        <tr class="hidden-print">
          <td colspan="5">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="text-alert">
                A assinatura digital só aparecerá quando a OS estiver finalizada.
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td width="20"></td>
          <td width="200"
              style="border-top: 1px solid; padding: 1px 5px;text-align: center;text-transform: capitalize;">
            LembraAqui<br>
            <span style="font-size: 11px;text-transform: uppercase;">LembraAqui</span>
          </td>
          <td width="10"></td>
          <td width="200" style="border-top: 1px solid; padding: 1px 5px;text-align: center;
              text-transform: capitalize;">
            <span style="font-size: 11px;text-transform: uppercase;">LembraAqui</span>
          </td>
          <td width="20"></td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td height="60"></td>
  </tr>
  <tr>
    <td>
      <hr style="border-top: 1px dashed #000;
      color: #fff;
      background-color: #fff;
      height: 1px;">
    </td>
  </tr>
  <tr>
    <td>
      <table>
        <tbody>
        <tr>
          <td style="border: 1px solid;padding: 5px;">
            <strong>Cliente:</strong></td>
          <td style="border: 1px solid;padding: 5px;text-align:left;"> LembraAqui (OnlineOS Gratuíto)</td>
          <td style="border: 1px solid;padding: 5px;"><strong>RG/CNPJ:</strong></td>
          <td style="border: 1px solid;padding: 5px;text-align:left;">
          </td>
        </tr>
        <tr>
          <td style="border: 1px solid;padding: 5px;">
            <strong>Data do Atendimento:</strong></td>
          <td style="border: 1px solid;padding: 5px;text-align:left;">
            <small class="hidden-print">Utilizar os campos Inicio do Tratamento e Témino</small>
            03/11/2018 19:40:53
          </td>
          <td style="border: 1px solid;padding: 5px;"><strong>Número da OS:</strong></td>
          <td style="border: 1px solid;padding: 5px;text-align:left;"> 0001</td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
